@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  position: relative;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

main {
  overflow: hidden;
  min-height: 80vh;
}

@-webkit-keyframes header-animation {
  0% {
    top: -100px;
  }
  100% {
    top: 0px;
  }
}
@keyframes header-animation {
  0% {
    top: -100px;
  }
  100% {
    top: 0px;
  }
}
header {
  overflow: hidden;
  padding: 10px 0px;
}
header .navbar-brand {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 2px;
}
header .nav-item.active .nav-link {
  color: #66CFC0 !important;
}
header .nav-item .nav-link {
  font-size: 16px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.3);
}
header.scrolled {
  position: fixed;
  z-index: 999;
  left: 0;
  width: 100%;
  background: #fff;
  border-width: 0 0 5px;
  border-style: solid;
  border-image: linear-gradient(to right, #66CFC0, #66CFC0, #3F92D6) 100% 1;
  border-image-slice: 1;
  padding: 0px;
  -webkit-animation: header-animation 0.3s forwards;
  animation: header-animation 0.3s forwards;
}
header.scrolled .navbar {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
header.scrolled .navbar-brand {
  font-size: 22px;
}
header.scrolled .navbar-brand img {
  height: 50px;
}

.wave-border {
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  overflow: hidden;
  background: linear-gradient(to right, #66CFC0, #3F92D6);
}

.about-container .row {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.about-title {
  font-family: "Caviar Dreams Bold", sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
  width: 100%;
  font-weight: 700;
  color: #66CFC0;
}

.container-title {
  font-family: "Caviar Dreams Bold", sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
  width: 100%;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(to right, #66CFC0, #3F92D6);
}

.testimonials-container .container {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}
.testimonials-container .carousel {
  padding-bottom: 60px;
}
.testimonials-container .testimonial-item {
  border-radius: 20px;
}
.testimonials-container .testimonial-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.testimonials-container .testimonial-item .testimonial-title {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
  letter-spacing: 2px;
}
.testimonials-container .testimonial-item .testimonial-subtitle {
  font-size: 14px;
  letter-spacing: 1px;
}
.testimonials-container .testimonial-item hr {
  background: #66CFC0;
  width: 5%;
  margin: 20px auto;
}
.testimonials-container .testimonial-item .testimonial-content {
  display: flex;
  justify-content: center;
}
.testimonials-container .testimonial-item .testimonial-content span {
  width: 800px;
  max-width: 100%;
}

/*# sourceMappingURL=about.css.map */
