@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  position: relative;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

main {
  overflow: hidden;
  min-height: 80vh;
}

@-webkit-keyframes header-animation {
  0% {
    top: -100px;
  }
  100% {
    top: 0px;
  }
}
@keyframes header-animation {
  0% {
    top: -100px;
  }
  100% {
    top: 0px;
  }
}
header {
  overflow: hidden;
  padding: 10px 0px;
}
header .navbar-brand {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 2px;
}
header .nav-item.active .nav-link {
  color: #66CFC0 !important;
}
header .nav-item .nav-link {
  font-size: 16px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.3);
}
header.scrolled {
  position: fixed;
  z-index: 999;
  left: 0;
  width: 100%;
  background: #fff;
  border-width: 0 0 5px;
  border-style: solid;
  border-image: linear-gradient(to right, #66CFC0, #66CFC0, #3F92D6) 100% 1;
  border-image-slice: 1;
  padding: 0px;
  -webkit-animation: header-animation 0.3s forwards;
  animation: header-animation 0.3s forwards;
}
header.scrolled .navbar {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
header.scrolled .navbar-brand {
  font-size: 22px;
}
header.scrolled .navbar-brand img {
  height: 50px;
}

.wave-border {
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  overflow: hidden;
  background: linear-gradient(to right, #66CFC0, #3F92D6);
}

.contact-container {
  background: #f7f7f7;
  padding: 100px 0px;
}
.contact-container .contact-content {
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}
.contact-container .contact-content .contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 2px;
  height: 85px;
}
@media (min-width: 992px) {
  .contact-container .contact-content .contact-item {
    border-top: none !important;
    border-bottom: none !important;
  }
}
.contact-container .contact-content .contact-item svg {
  margin-right: 10px;
}
.contact-container .contact-content .contact-item:not(.contact-button) {
  padding: 10px 0px;
}
.contact-container .contact-content .contact-item .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #66CFC0, #3F92D6);
  border: none;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  color: #fff;
  border-radius: 0px;
}
.contact-container .contact-content .contact-item .btn svg {
  margin-left: 10px;
  margin-right: 0px;
}

.contact-form-container {
  background: #f7f7f7;
}
.contact-form-container .row {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}
.contact-form-container input,
.contact-form-container select,
.contact-form-container textarea {
  color: #fff;
}
.contact-form-container .btn {
  background: linear-gradient(to right, #66CFC0, #3F92D6);
  border: none;
}

.clinic-hour-container {
  background: #f7f7f7;
}
.clinic-hour-container .schedule-content {
  text-align: center;
}
.clinic-hour-container .schedule-content .schedule-item-container {
  max-width: 100%;
}
.clinic-hour-container .schedule-content .schedule-item-container .schedule-item {
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin: 0px;
  margin-bottom: 20px;
  width: 600px;
  max-width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}
.clinic-hour-container .schedule-content .schedule-item-container .schedule-item .schedule-name {
  padding: 20px 0px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  background: linear-gradient(to right, #66CFC0, #3F92D6);
  color: #fff;
}
.clinic-hour-container .schedule-content .schedule-item-container .schedule-item .schedule-value {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  color: #3F92D6;
}
.clinic-hour-container .schedule-content .schedule-item-container .schedule-item.danger .schedule-value {
  color: #DA3F32;
}
.clinic-hour-container .schedule-content .schedule-item-container .schedule-item:nth-child(even) > .schedule-value {
  color: #66CFC0;
}

/*# sourceMappingURL=contact.css.map */
