@import "./_variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    position: relative;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

main {
    overflow: hidden;
    min-height: 80vh;
}

@-webkit-keyframes header-animation {
    0% {
        top: -100px;
    }

    100% {
        top: 0px;
    }
}

@keyframes header-animation {
    0% {
        top: -100px;
    }

    100% {
        top: 0px;
    }
}

header {
    overflow: hidden;
    padding: 10px 0px;

    .navbar-brand {
        font-size: 30px;
        font-weight: 900;
        letter-spacing: 2px;
    }

    .nav-item {

        &.active {

            .nav-link {
                color: $color-accent !important;
            }
        }

        .nav-link {
            font-size: 16px;
            letter-spacing: 1px;
            color: rgba(#fff, .3);
        }
    }

    &.scrolled {
        position: fixed;
        z-index: 999;
        left: 0;
        width: 100%;
        background: #fff;
        border-width: 0 0 5px;
        border-style: solid;
        border-image: linear-gradient(to right, $color-accent, $color-accent, $color-secondary) 100% 1;
        border-image-slice: 1;
        padding: 0px;
        -webkit-animation: header-animation .3s forwards;
        animation: header-animation .3s forwards;

        .navbar {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }

        .navbar-brand {
            font-size: 22px;

            img {
                height: 50px;
            }
        }
    }
}

.wave-border {
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    overflow: hidden;
    background: linear-gradient(to right, $color-accent, $color-secondary);
}