@import "./index.scss";

.service-container {

    .container {
        box-shadow: 0px 0px 20px rgba(#000, .1);
        border-radius: 20px;
        overflow: hidden;

        @media (max-width: 576px) {
            border-radius: 0px;
        }

        .service-image {

            img {
                height: 600px;
                object-fit: cover;
                object-position: center;
            }
        }

        .service-content {
            .service-title {
                font-weight: 700;
                color: $color-accent;
                font-size: 25px;
                letter-spacing: 2px;
            }

            hr {
                background: $color-accent;
                height: 1px;
                width: 50px;
                margin: 25px auto;
            }

            .service-description {
                font-size: 14px;
                letter-spacing: 1px;

                .highlight {
                    margin-top: 50px;
                    color: $color-secondary;
                    font-weight: 600;
                    font-size: 16px;
                    text-transform: uppercase;
                }
            }

            .service-cure {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                div {
                    background: linear-gradient(to right, $color-accent, $color-secondary);
                    color: #fff;
                    font-weight: 700;
                    border-radius: 4px;
                    font-size: 14px;

                    @media (max-width: 576px) {
                        width: 100%;
                    }
                }
            }

            .treatment-benefits-title {
                font-weight: 700;
                color: $color-accent;
                letter-spacing: 2px;
                font-size: 20px;
            }

            .treatment-item {
                padding-right: 15px;

                .treatment-icon {
                    min-width: 50px;
                    min-height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $color-secondary;
                    border-radius: 50%;

                    svg {
                        fill: #fff;
                        height: 20px !important;
                        width: auto !important;
                    }
                }

                .treatment-title {
                    margin-left: 15px;
                    font-weight: 400;
                    font-size: 14px;
                }
            }
        }
    }
}