<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../logo.png">

    <title>HOPARC | Hands On Physiotherapy and Rehab Centre</title>

    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/lightbox.css">
    <link rel="stylesheet" href="../css/blogs.css">
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light py-3" id="navbar-main">
                <a class="navbar-brand" href="#">
                    <img src="../logo.png" height="75" alt="Hoparc">
                    HOPARC
                </a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav ml-auto align-items-center rounded">
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../templates/services.html">Services</a>
                        </li>
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../templates/about.html">About</a>
                        </li>
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../templates/products.html">Products</a>
                        </li>
                        <li class="nav-item px-4 text-center active">
                            <a class="nav-link" href="../templates/blogs.html">Blogs</a>
                        </li>
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../templates/contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="blogs-container py-5 px-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4 px-3 py-5" data-aos="zoom-in-up" data-aos-offset="200">
                        <div class="blog-item p-3 pb-5">
                            <div class="blog-icon text-center">
                                <img class="rounded-circle" src="../img/blogs/blog-1.jpg">
                            </div>
                            <div class="blog-title text-center py-2 px-3">
                                PREGNANCY PELVIC PAIN
                            </div>
                            <div class="blog-description">
                                Posterior pelvic pain (in the back of the pelvis) is four times more prevalent than lumbar pain in pregnancy. It is a deep pain felt below and to the side at the waistline, and/or below the waistline on either side across the tailbone. Such pregnancy pelvic pain may be experienced on one or both sides.
                            </div>
                            <div class="blog-button text-center">
                                <a href="./blog.html">
                                    <button class="btn text-uppercase">
                                        <span>Read More</span>
                                        <svg width="25px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 px-3 py-5" data-aos="zoom-in-up" data-aos-offset="200">
                        <div class="blog-item p-3 pb-5">
                            <div class="blog-icon text-center">
                                <img class="rounded-circle" src="../img/blogs/blog-2.jpg">
                            </div>
                            <div class="blog-title text-center py-2 px-3">
                                HOW TO ACTIVATE YOUR INNER CORE
                            </div>
                            <div class="blog-description">
                                Patients often come to me saying that they have been doing core exercises, recommended and advised by friends, in the gym and it’s made their lower back feel worse than ever.
                            </div>
                            <div class="blog-button text-center">
                                <a href="./blog.html">
                                    <button class="btn text-uppercase">
                                        <span>Read More</span>
                                        <svg width="25px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 px-3 py-5" data-aos="zoom-in-up" data-aos-offset="200">
                        <div class="blog-item p-3 pb-5">
                            <div class="blog-icon text-center">
                                <img class="rounded-circle" src="../img/blogs/blog-3.jpg">
                            </div>
                            <div class="blog-title text-center py-2 px-3">
                                WORLD PHYSICAL THERAPY DAY
                            </div>
                            <div class="blog-description">
                                We offer a wide variety of orthopedic/ Neurological braces, both custom and off-the-shelf, and numerous sports medicine blogs such as taping supplies and compression sleeves to hinged knee braces, lumbar support, Ankle support, Foot/ wrist drop splint, ect.
                            </div>
                            <div class="blog-button text-center">
                                <a href="./blog.html">
                                    <button class="btn text-uppercase">
                                        <span>Read More</span>
                                        <svg width="25px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 px-3 py-5" data-aos="zoom-in-up" data-aos-offset="200">
                        <div class="blog-item p-3 pb-5">
                            <div class="blog-icon text-center">
                                <img class="rounded-circle" src="../img/blogs/blog-4.jpg">
                            </div>
                            <div class="blog-title text-center py-2 px-3">
                                The Importance of Exercise
                            </div>
                            <div class="blog-description">
                                It is scientifically proven that exercise therapy (active rehabilitation) is one of the greatest rehabilitation method. Numerous studies consistently prove the indisputable benefits of exercise therapy. There are simply no other ways to improve muscular strength and endurance.
                            </div>
                            <div class="blog-button text-center">
                                <a href="./blog.html">
                                    <button class="btn text-uppercase">
                                        <span>Read More</span>
                                        <svg width="25px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="py-3">
        <div class="container text-white font-weight-bold text-center" data-aos="fade-up" data-aos-offset="0">
            Copyright &copy; 2020 | All rights reserved | www.hoparc.com
        </div>
    </footer>
</body>

<script src=" ../js/jquery.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/aos.js"></script>
<script src="../js/lightbox.min.js"></script>
<script src="../js/index.js"></script>

</html>