<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../logo.png">

    <title>HOPARC | Hands On Physiotherapy and Rehab Centre</title>

    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/lightbox.css">
    <link rel="stylesheet" href="../css/service.css">
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light py-3" id="navbar-main">
                <a class="navbar-brand" href="#">
                    <img src="../logo.png" height="75" alt="Hoparc">
                    HOPARC
                </a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav ml-auto align-items-center rounded">
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../templates/services.html">Services</a>
                        </li>
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../templates/about.html">About</a>
                        </li>
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../templates/products.html">Products</a>
                        </li>
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../templates/blogs.html">Blogs</a>
                        </li>
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../templates/contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="service-container py-5">
            <div class="container p-0">
                <div class="service-image p-0">
                    <img class="w-100" src="../img/blogs/blog-1.jpg" data-aos="fade-down" data-aos-offset="300">
                </div>
                <div class="service-content px-5 py-2">
                    <div class="row">
                        <div class="col-12 p-3 pb-5">
                            <div class="service-title text-uppercase text-center" data-aos="zoom-in-up" data-aos-offset="200">
                                Pregnancy Pelvic Pain
                            </div>
                            <div class="service-description mt-3" data-aos="zoom-in-up" data-aos-offset="200">
                                <p>Posterior pelvic pain (in the back of the pelvis) is four times more prevalent than lumbar pain in pregnancy. It is a deep pain felt below and to the side at the waistline, and/or below the waistline on either side across the tailbone. Such pregnancy pelvic pain may be experienced on one or both sides.</p>
                                <p>Posterior pelvic pain in pregnancy can extend down into the buttock and upper portion of the posterior (in back of) thighs, and does not usually radiate below the knees. It can be associated with pubic pain. The pain does not quickly resolve with rest, and morning stiffness may also be present.</p>

                                <p>Posterior pelvic pain during pregnancy can be brought on or exacerbated by the following activities:</p>

                                <p>- Rolling in bed</p>
                                <p>- Climbing stairs</p>
                                <p>- Sitting and rising from a seated position (such as getting in and out of cars, bathtubs, bed)</p>
                                <p>- Lifting, twisting, bending forward</p>
                                <p>- Running and walking</p>

                                <p>A job that involves prolonged postures at extreme ranges (such as sitting in front of a computer and leaning forward, standing and leaning over a desk or workstation) increases the risk of developing pregnancy pelvic pain. Unlike many other forms of lower back pain in pregnancy, a previous high level of fitness does not necessarily prevent posterior pelvic pain while pregnant.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="py-3">
        <div class="container text-white font-weight-bold text-center" data-aos="fade-up" data-aos-offset="0">
            Copyright &copy; 2020 | All rights reserved | www.hoparc.com
        </div>
    </footer>
</body>

<script src=" ../js/jquery.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/aos.js"></script>
<script src="../js/lightbox.min.js"></script>
<script src="../js/index.js"></script>

</html>