<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../logo.png">

    <title>HOPARC | Hands On Physiotherapy and Rehab Centre</title>

    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/lightbox.css">
    <link rel="stylesheet" href="../css/products.css">
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light py-3" id="navbar-main">
                <a class="navbar-brand" href="#">
                    <img src="../logo.png" height="75" alt="Hoparc">
                    HOPARC
                </a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav ml-auto align-items-center rounded">
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../templates/services.html">Services</a>
                        </li>
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../templates/about.html">About</a>
                        </li>
                        <li class="nav-item px-4 text-center active">
                            <a class="nav-link" href="../templates/products.html">Products</a>
                        </li>
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../templates/blogs.html">Blogs</a>
                        </li>
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../templates/contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="products-container py-5 px-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4 px-3 py-5" data-aos="zoom-in-up" data-aos-offset="200">
                        <div class="product-item p-3 pb-5">
                            <div class="product-icon text-center">
                                <img class="rounded-circle" src="../img/products/product-1.jpg">
                            </div>
                            <div class="product-title text-center py-2 px-3">
                                ORTHOTICS
                            </div>
                            <div class="product-description">
                                A custom orthotic is a device designed to align the foot and ankle into the most anatomically efficient position. They look like insoles,but are biomechanical medical appliances that are custom made to correct your specific foot imbalance which will help reduce stress and strain on your body.
                            </div>
                            <div class="product-button text-center">
                                <a href="./product.html">
                                    <button class="btn text-uppercase">
                                        <span>Learn More</span>
                                        <svg width="25px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 px-3 py-5" data-aos="zoom-in-up" data-aos-offset="200">
                        <div class="product-item p-3 pb-5">
                            <div class="product-icon text-center">
                                <img class="rounded-circle" src="../img/products/product-2.jpg">
                            </div>
                            <div class="product-title text-center py-2 px-3">
                                COMPRESSION STOCKINGS
                            </div>
                            <div class="product-description">
                                Heavy and tired legs and swollen ankles are signs of chronic venous insufficiency, which is a serious disease with real consequences. Around 15 percent of the population currently suffers from venous diseases.
                            </div>
                            <div class="product-button text-center">
                                <a href="./product.html">
                                    <button class="btn text-uppercase">
                                        <span>Learn More</span>
                                        <svg width="25px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 px-3 py-5" data-aos="zoom-in-up" data-aos-offset="200">
                        <div class="product-item p-3 pb-5">
                            <div class="product-icon text-center">
                                <img class="rounded-circle" src="../img/products/product-3.jpg">
                            </div>
                            <div class="product-title text-center py-2 px-3">
                                SUPPORT/BRACES
                            </div>
                            <div class="product-description">
                                We offer a wide variety of orthopedic/ Neurological braces, both custom and off-the-shelf, and numerous sports medicine products such as taping supplies and compression sleeves to hinged knee braces, lumbar support, Ankle support, Foot/ wrist drop splint, ect.
                            </div>
                            <div class="product-button text-center">
                                <a href="./product.html">
                                    <button class="btn text-uppercase">
                                        <span>Learn More</span>
                                        <svg width="25px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="py-3">
        <div class="container text-white font-weight-bold text-center" data-aos="fade-up" data-aos-offset="0">
            Copyright &copy; 2020 | All rights reserved | www.hoparc.com
        </div>
    </footer>
</body>

<script src=" ../js/jquery.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/aos.js"></script>
<script src="../js/lightbox.min.js"></script>
<script src="../js/index.js"></script>

</html>