<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../logo.png">

    <title>HOPARC | Hands On Physiotherapy and Rehab Centre</title>

    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/lightbox.css">
    <link rel="stylesheet" href="../css/product.css">
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light py-3" id="navbar-main">
                <a class="navbar-brand" href="#">
                    <img src="../logo.png" height="75" alt="Hoparc">
                    HOPARC
                </a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav ml-auto align-items-center rounded">
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../templates/servicess.html">Services</a>
                        </li>
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../templates/about.html">About</a>
                        </li>
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../templates/products.html">Products</a>
                        </li>
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../templates/blogs.html">Blogs</a>
                        </li>
                        <li class="nav-item px-4 text-center">
                            <a class="nav-link" href="../templates/contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="product-container py-5">
            <div class="container p-0">
                <div class="product-image p-0">
                    <img class="w-100" src="../img/products/product-1.jpg" data-aos="fade-down" data-aos-offset="200">
                </div>
                <div class="product-content px-5 pb-5 pt-2">
                    <div class="row">
                        <div class="col-12 p-3 pb-5 border-bottom">
                            <div class="product-title text-uppercase text-center" data-aos="zoom-in-up" data-aos-offset="100">
                                Custom Orthotics / Compression Stockings
                            </div>
                            <div class="product-description mt-3 text-center" data-aos="zoom-in-up" data-aos-offset="100">
                                <p>A custom orthotic is a device designed to align the foot and ankle into the most anatomically efficient position. They look like insoles,but are biomechanical medical appliances that are custom made to correct your specific foot imbalance which will help reduce stress and strain on your body. The plastic body of the custom orthotic helps to re-align the foot byredirecting and reducing certain motion that takes place during walking.</p>

                                <p>Worn comfortably in most kinds of shoes, prescription orthotics are used to treat lower back pain, forefoot pain, leg fatigue, arch pain, heel pain, callouses, hip pain, corns, and much more. Orthotics are designed to precisely control the mechanics of your feet and correct your foot function. You might say orthotics are to feet what braces are to your teeth.</p>

                                <p>We provide our patients with the best fitting orthotic to meet their individual, orthotics are often prescribed in combination with treatments such as physiotherapy, massage therapy and chiropractic.</p>
                            </div>
                        </div>
                        <div class="treatment-benefits-title text-uppercase text-center col-12 pt-5" data-aos="zoom-in-up" data-aos-offset="200">
                            Poor biomechanics may contribute to ailments such as:
                        </div>
                        <div class="col-12 py-3 d-flex flex-wrap">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 treatment-item d-flex align-items-center my-3" data-aos="fade-right" data-aos-offset="200">
                                    <div class="treatment-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                        </svg>
                                    </div>
                                    <div class="treatment-title">
                                        Plantar Fasciitis
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 treatment-item d-flex align-items-center my-3" data-aos="fade-right" data-aos-offset="200">
                                    <div class="treatment-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                        </svg>
                                    </div>
                                    <div class="treatment-title">
                                        Achilles Tendonitis
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 treatment-item d-flex align-items-center my-3" data-aos="fade-right" data-aos-offset="200">
                                    <div class="treatment-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                        </svg>
                                    </div>
                                    <div class="treatment-title">
                                        Shin Splints
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 treatment-item d-flex align-items-center my-3" data-aos="fade-right" data-aos-offset="200">
                                    <div class="treatment-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                        </svg>
                                    </div>
                                    <div class="treatment-title">
                                        ITB Syndrome
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 treatment-item d-flex align-items-center my-3" data-aos="fade-right" data-aos-offset="200">
                                    <div class="treatment-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                        </svg>
                                    </div>
                                    <div class="treatment-title">
                                        SI joint pain
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 treatment-item d-flex align-items-center my-3" data-aos="fade-right" data-aos-offset="200">
                                    <div class="treatment-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                        </svg>
                                    </div>
                                    <div class="treatment-title">
                                        Knee pain
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 treatment-item d-flex align-items-center my-3" data-aos="fade-right" data-aos-offset="200">
                                    <div class="treatment-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                        </svg>
                                    </div>
                                    <div class="treatment-title">
                                        Hip pain
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 treatment-item d-flex align-items-center my-3" data-aos="fade-right" data-aos-offset="200">
                                    <div class="treatment-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                        </svg>
                                    </div>
                                    <div class="treatment-title">
                                        Lower back pain
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 treatment-item d-flex align-items-center my-3" data-aos="fade-right" data-aos-offset="200">
                                    <div class="treatment-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                        </svg>
                                    </div>
                                    <div class="treatment-title">
                                        Foot pain
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 treatment-item d-flex align-items-center my-3" data-aos="fade-right" data-aos-offset="200">
                                    <div class="treatment-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                        </svg>
                                    </div>
                                    <div class="treatment-title">
                                        Varicose Vein
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 treatment-item d-flex align-items-center my-3" data-aos="fade-right" data-aos-offset="200">
                                    <div class="treatment-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                        </svg>
                                    </div>
                                    <div class="treatment-title">
                                        Leg pain
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 treatment-item d-flex align-items-center my-3" data-aos="fade-right" data-aos-offset="200">
                                    <div class="treatment-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                        </svg>
                                    </div>
                                    <div class="treatment-title">
                                        Lower leg swelling/Edema
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="py-3">
        <div class="container text-white font-weight-bold text-center" data-aos="fade-up" data-aos-offset="0">
            Copyright &copy; 2020 | All rights reserved | www.hoparc.com
        </div>
    </footer>
</body>

<script src=" ../js/jquery.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/aos.js"></script>
<script src="../js/lightbox.min.js"></script>
<script src="../js/index.js"></script>

</html>